<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
    <a href="/">Home</a></header>
    <a href="/kaijus">Kaijus Index</a>
<body>

    <h1>Edit Kaiju</h1>
    <form action="/kaijus" method="POST">
    <input type="text" name="name" value="<%= foundKaiju.name %>"> <br>
    <input type="text" name="alias" value="<%= foundKaiju.alias %>"> <br>
    <input type="number" name="size" value="<%= foundKaiju.size %>"> <br>
    <input type="number" name="weight" value="<%= foundKaiju.weight %>"> <br>
    <input type="text" name="firstSeen" value="<%= foundKaiju.firstSeen %>"> <br>
    <input type="text" name="lastSeen" value="<%= foundKaiju.lastSeen %>"> <br>
    <input type="URL" name="image" value="<%= foundKaiju.image %>"> <br>
    <textarea name="notes" value="<%= foundKaiju.notes %>"></textarea> <br>
    <input type="submit" value="Add Kaiju">
    </form>
</body>
</html>
