<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
    <a href="/">Home</a></header>
    <a href="/kaijus">Kaijus Index</a>
<body>

    <h1>Edit Kaiju</h1>
    <form action="/kaijus/<%= kaiju._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= kaiju.name %>"> <br>
    <input type="text" name="alias" value="<%= kaiju.alias %>"> <br>
    <input type="number" name="size" value="<%= kaiju.size %>"> <br>
    <input type="number" name="weight" value="<%= kaiju.weight %>"> <br>
    <input type="text" name="firstSeen" value="<%= kaiju.firstSeen %>"> <br>
    <input type="text" name="lastSeen" value="<%= kaiju.lastSeen %>"> <br>
    <input type="URL" name="image" value="<%= kaiju.image %>"> <br>
    <textarea name="notes" value="<%= kaiju.notes %>"></textarea> <br>
    <input type="submit" value="Update Kaiju">
    </form>
</body>

<footer>
        <h2>follow us:</h2>
        <img class="social-img" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-256.png" alt="facebook">
        <img class="social-img" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Twitter5_svg-256.png" alt="Twitter">
        <img class="social-img" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-256.png" alt="Instagram">
    
    </footer>
</html>
