<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= kaiju.name %></title>
	</head>
	<body>
		<header>
			<h1><%= kaiju.name %></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/kaijus">Kaijus Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h1>Name: <%= kaiju.name %></h1>
               
				<h3><%= kaiju.alias %></h3>
				<img src=<%= kaiju.image %>>
				<h3><%= kaiju.size %></h3>
				<h3><%= kaiju.weight %></h3>
				<h3><%= kaiju.firstSeen %></h3>
				<h3><%= kaiju.lastSeen %></h3>
				<p><%= kaiju.notes %></p>
            </section>
            <section>
                <form action="/kaijus/<%= kaiju._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Kaiju"/>
                </form>
            </section>
            <section>
                <a href="/kaijus/<%= kaiju._id %>/edit">Edit</a>
            </section>
		</main>
	</body>
</html>