<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= kaiju.name %></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="/css/kaiju.css">
	</head>
	<body>
		
		<header>
			<h1><%= kaiju.name %></h1>
			<h3>Added by: <%= kaiju.user.username %></h3>
			<nav>
				<ul>
					<li>
						<button class="btn btn-primary" onclick ="window.location.href='/'">Home</a></button>
					</li>
					<li>
							<button class="btn btn-primary" onclick ="window.location.href='/kaijus'">Kaijus Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<main>
				<h1>Name: <%= kaiju.name %></h1>
               
				<h3>Alias:<%= kaiju.alias %></h3>
				<img src=<%= kaiju.image %>>
				<h3>Approx size in meters: <%= kaiju.size %></h3>
				<h3>Approx. weight in tons: <%= kaiju.weight %></h3>
				<h3>First seen: <%= kaiju.firstSeen %></h3>
				<h3>Last seen:</h3> <iframe src= <%= kaiju.lastSeen %></iframe>>
				<p>Notable info: <%= kaiju.notes %></p>
            </main>
            <section>
                <form action="/kaijus/<%= kaiju._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Kaiju"/>
                </form>
            </section>
            <section>
                <a href="/kaijus/<%= kaiju._id %>/edit">Edit</a>
            </section>
		</main>
	
	</body>
	<footer>
			<h2>follow us:</h2>
			<img class="social-img" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-256.png" alt="facebook">
			<img class="social-img" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Twitter5_svg-256.png" alt="Twitter">
			<img class="social-img" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-256.png" alt="Instagram">
		
		</footer>
</html>